header {
    background-image: url(../images/header-foto.png);
}

.foto-one {
    background-image: url(../images/Step1.png);
}

.foto-two {
    background-image: url(../images/Step2.png);
}

.foto-three {
    background-image: url(../images/Step3.png);
}

.avatar-1 {
    background-image: url(../images/Avatar-1.png);
}

.avatar-2 {
    background-image: url(../images/Avatar-2.png);
}

.avatar-3 {
    background-image: url(../images/Avatar-3.png);
}

.avatar-4 {
    background-image: url(../images/Avatar-4.png);
}

.icon-first {
    background-image: url(../images/music.png);
}

.icon-second {
    background-image: url(../images/brush.png);
}

.icon-third {
    background-image: url(../images/camera.png);
}

.icon-fourth {
    background-image: url(../images/airplane.png);
}

.img-sports {
    background-image: url(../images/sport.png);
}

.img-health {
    background-image: url(../images/health.png);
}

.img-extreme {
    background-image: url(../images/extreme.png);
}

.img-games {
    background-image: url(../images/games.png);
}

.img-culture {
    background-image: url(../images/cullture.png);
}

.img-relax {
    background-image: url(../images/rellax.png);
}

.img-travell {
    background-image: url(../images/travelling.png);
}

.img-footer {
    background-image: url(../images/footer.png);
}


@media (max-width: 320px) {
    header {
        background-image: url(../images/header-foto_sm.png);
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    }
    .foto-one {
        background-image: url(../images/Step1_sm.png);
    }
    
    .foto-two {
        background-image: url(../images/Step2_sm.png);
    }
    
    .foto-three {
        background-image: url(../images/Step3_sm.png);
    }
    
    .img-sports {
        background-image: url(../images/sport_sm.png);

    }
    
    .img-health {
        background-image: url(../images/health_sm.png);
    }
    
    .img-extreme {
        background-image: url(../images/extreme_sm.png);
    }
    
    .img-games {
        background-image: url(../images/games_sm.png);
    }
    
    .img-culture {
        background-image: url(../images/cullture_sm.png);
    }
    
    .img-relax {
        background-image: url(../images/rellax_sm.png);
    }
    
    .img-travell {
        background-image: url(../images/travelling_sm.png);
    }
}